* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: burlywood;
}

.title {
    background-color: rgb(161, 233, 252);
    width: 100%;
    height: 150px;
    padding-top: 20px;
    padding-left: 90px;
    color: rgb(51, 39, 0);
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.TextoInicial {
    padding-top: 20px;
    padding-left: 110px;
    font-size: 30px;
    font-weight: 600;
}

.foto {
    margin-top: 30px;
    margin-left: 140px;
    width: 500px;
    height: auto;
}

.botoes {
    display: flex;
    gap: 80px;
    margin-top: -800px;
    margin-left: 1000px;
    position: absolute;
    top: 840px;
    left: -50px;
    
}

.botoes button {
    background-color: rgb(161, 233, 252);
    width: 150px;
    height: 20px;
    font-family: cursive;
    font-size: 30px;
    padding: 40px 20px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botoes button:hover{
    background-color: rgb(139, 63, 0);
    color: antiquewhite;
}
